@import '../../../scss/variables';

.create-account-step {
    $self: &;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .button {
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translate(50%, 50%);

        @media only screen and (min-width: $breakpoint-desktop) {
            right: -5rem;
            transform: translateY(50%);
        }
    }

    &--2 {
        height: 100%;
        width: 100%;

        #{ $self } {
            &__description {
                line-height: 2.4rem;
                margin-bottom: 3rem;
                letter-spacing: 0.3px;
                font-size: 1.4rem;

                @media only screen and (min-width: $breakpoint-desktop) {
                    margin-bottom: 5.8rem;
                    width: 85%;
                }
            }

            &__visual {
                display: none;

                @media only screen and (min-width: $breakpoint-desktop) {
                    display: block;
                    width: 25.6rem;
                    height: 100%;
                    background-color: $color-off-black;
                    background-image: url('/img/create-account-bg-photo.png');
                    position: relative;

                    &::after {
                        position: relative;
                        content: url('/img/create-account-bg-lines.png');
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        z-index: 10000;
                        margin-top: 11rem;
                        transform: scale(0.97);
                    }
                }
            }

            &__content {
                flex: 1;
                height: 100%;
                width: 100%;
                background: linear-gradient(
                        5.88deg,
                        rgba(165, 165, 180, 0.15) 4.19%,
                        rgba(228, 235, 239, 0.15) 95.81%,
                        rgba(231, 232, 238, 0.15) 95.81%,
                        rgba(231, 232, 238, 0.15) 95.81%
                    ),
                    #fcfcfd;
                position: relative;
                padding: 1.5rem 1.5rem 8rem 1.5rem;

                @media only screen and (min-width: $breakpoint-md) {
                    padding: 3rem 3rem 5rem 3rem;
                }

                @media only screen and (min-width: $breakpoint-desktop) {
                    padding: 4rem 5rem 7.8rem 5rem;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 1.6rem;
                    width: 7rem;
                    transform: translateY(-50%);
                    height: 2px;
                    background-color: $color-secondary;

                    @media only screen and (min-width: $breakpoint-desktop) {
                        left: 5rem;
                    }
                }
            }
        }
    }
}
