@import '../../scss/variables';

input,
select {
    font-size: 1.6rem;
    padding-left: 1.5rem;
    height: 5rem;
    letter-spacing: 0.3px;
}

.label {
    display: block;
    color: #333333;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
}

.select-input {
    position: relative;
    background: transparent;
    background-image: url('/img/dropdown-arrow.svg');
    background-repeat: no-repeat;
    cursor: pointer;
    background-position-y: 50%;
    background-position-x: calc(100% - 3px);
    background-size: 0.8rem;

    @media only screen and (min-width: $breakpoint-desktop) {
        background-size: unset;
        background-position-x: calc(100% - 1.5rem);
    }
}

.date-input {
    $self: &;
    position: relative;
    width: 100%;

    &__container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 5rem;

        #{ $self } {
            &__day {
                min-width: 5rem !important;
                width: 5rem;
            }

            &__month {
                min-width: 5rem !important;
                width: 5rem;

                @media only screen and (min-width: $breakpoint-desktop) {
                    min-width: unset;
                    width: inherit;
                }
            }
        }

        input,
        select {
            border: 2px solid $color-inactive-input;
            min-width: 10rem;
            height: 100%;
            box-sizing: border-box;

            &:focus {
                border: 2px solid $color-primary;
            }
        }
        span {
            margin: auto 0.75rem auto 0.75rem;
            min-width: 1rem;
            width: 1rem;
            height: 2px;
            background-color: #A2A2AF;
            opacity: .25;
        }

        label {
            width: 10rem;
        }
    }
}

.radio-input {
    position: relative;

    &__container {
        height: max-content;
        width: 100%;
        display: flex;
    }

    input {
        width: 0;
        opacity: 0;
        padding: 0;

        &:checked + label {
            border: 2px solid $color-secondary;

            &:after {
                border-color: $color-secondary;
            }

            &:before {
                content: '';
                box-sizing: border-box;
                position: absolute;
                width: 3px;
                height: 3px;
                right: 0;
                top: 50%;
                transform: translate(50%, -50%);
                background-color: $color-secondary;
                z-index: 100;
            }
        }
    }

    label {
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 2px solid $color-inactive-input;
        font-size: 1.6rem;
        height: 5rem;
        width: 5rem;

        &:not(:last-of-type) {
            margin-right: 2.5rem;
        }

        span {
            font-size: 1.6rem;
            color: #333333;
            margin-left: 0.7rem;
        }

        &:before {
            transition: all 0.5s cubic-bezier(0.7, -0.51, 0.42, 3.2);
            content: '';
            box-sizing: border-box;
            position: absolute;
            width: 0;
            height: 0;
            right: 0;
            top: 50%;
            transform: translate(50%, -50%);
            background-color: $color-secondary;
            z-index: 100;
        }

        &:after {
            content: '';
            box-sizing: border-box;
            position: absolute;
            width: 1.7rem;
            height: 1.7rem;
            right: 0;
            top: 50%;
            transform: translate(50%, -50%);
            border: 2px solid $color-inactive-input;
            background-color: #f2f2f5;
        }
    }
}

.phone-number-input {
    &__container {
        display: flex;
        align-items: flex-end;

        & > * {
            position: relative;
        }
    }
    &__prefix {
        width: 11.5rem;
        margin-right: 2rem;

        select {
            width: 100%;
            background-position-x: calc(100% - 1.5rem);

        }
    }

    &__number {
        flex: 1;
    }
}

.text-input {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
}

.underlined-input {
    border-bottom: 2px solid $color-inactive-input;
    height: 4rem;
    position: relative;
    transition-property: border-color color;
    transition: 0.5s ease-in-out;

    &:focus {
        border-color: $color-primary;
        transition: border-color 0.5s ease-in-out;
    }

    &.error {
        border-color: $color-error;
        color: $color-error;
    }
}

.input-error {
    position: absolute;
    bottom: -0.5rem;
    left: 1.5rem;
    transform: translateY(100%);
    color: $color-error;
    opacity: 0;
    transition: all 0.4s ease-in-out;

    &.active {
        transition: all 0.4s ease-in-out;
        opacity: 1;
    }
}
