@import '../../scss/variables';

$step-indicator-transition: all 0.3s ease-in-out;

.step-indicator {
    display: none;

    @media only screen and (min-width: $breakpoint-desktop) {
        position: absolute;
        right: 0;
        top: 119px;
        height: min-content;

        transform: translate(100%);
        display: flex;
        flex-direction: column;

        &__element {
            height: 34px;

            &:not(:last-child) {
                margin-bottom: 42px;
            }
        }

        span {
            display: block;
            font-size: 11px;
        }

        &__bar {
            background-color: $color-gray-light;
            opacity: 0.25;
            width: 25px;
            height: 2px;
            transition: $step-indicator-transition;

            &.active {
                background-color: $color-secondary;
                opacity: 1;
                transition: $step-indicator-transition;
            }
        }

        &__step-number {
            margin-top: 8px;
            margin-left: 8px;
            color: $color-white;
        }

        &__title {
            opacity: 0;
            pointer-events: none;
            margin-top: 4px;
            margin-left: 8px;
            color: $color-white;
            transition: $step-indicator-transition;

            &.active {
                opacity: 1;
                transition: $step-indicator-transition;
            }
        }
    }
}
