$font-primary: 'Roboto', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;

$color-primary: #652ae6;
$color-secondary: #1bfec0;
$color-gray-light: #f9f9fb;
$color-gray-dark: #242424;
$color-error: #eb5757;
$color-white: #ffffff;
$color-inactive-input: #dadaed;
$color-off-black: #202020;

$breakpoint-desktop: 992px;
$breakpoint-md: 768px;
